<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Analyzer</title>
</head>
<body>
    <main>
        <h1>Natural Language Processing</h1>
        <form action="">
            <h3>The Data</h3>
            <label for="sentence">Enter Your Sentence</label>
            <input name="sentence" id="sentence" type="text">
            <input type="submit" value="Enter">
        </form>
        <div class="result-container">
            <h3>The Result</h3>
            <p class="result"></p>
        </div>
    </main>
    <script src="../index.js"></script>
</body>
</html>