header {
    background-color: #efefef;
    height: 20vh;
    position: relative;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        text-align: center;
        font-weight: 100;
    }
}

@media screen and (max-width: 700px){

    header {

        h1 {
            margin: 50px 0px 260px 0px;
            text-align: center;
            font-weight: 100;    
        }
    }

}


@media screen and (max-width: 580px){

    header {
        h1 {
            font-size: 160%;
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }
}

