
$info: #33b5e5;
$danger: #ff4444;
$purple: #aa66cc;
$dark: #2e2e2e;
$font: #fffff8;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: $dark;
    font-size: 22px;
    font-family: 'Major Mono Display', monospace, Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
}

.result-container {
    padding-top: 10px;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    h3 {
        margin-top: 10px;
        margin-bottom: 50px;
        text-align: center;
    }

}



@media screen and (max-width: 580px){

    .result-container {
        background-image: none;
        background-color: #D9D9D9;
        h3 {
            text-align: center;
        }
    
    }
}